* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header {
    width: 100%;
    height: 150px;
    background: salmon;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    height: 120px;
    flex-direction: row;
    padding: 10px;
    margin: 0 10px;
}
.log {
    width: 30px;
    height: 30px;
    background: slateblue;
    border-radius: 10px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 20%;
}
.logo a{
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center
}

.nav-menu {
    display: flex;
    gap: 80px;
    list-style: none;
}
.nav-menu li a{
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #000;
}
.nav-menu li a:hover{
    background-color: wheat;
    transform: scale(1.02);
    color: #000;
}

.slider {
    width: 100%;
    height: 5px;
    background: lightgray;
}

.hero{
    background-color: bisque;
    display: flex;
    width: 90%;
    margin: 20px 70px;
    height: 400px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 50px;
}
.hero h1 {
    color: aliceblue;
    font-size: 4rem;
    width: 60%;
}
.hero p {
    color: aliceblue;
    font-size: 2rem;
    width: 65%;
}
.buttons {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    flex-direction: row;
    border-radius: 20px;
    text-decoration: none;
}
.buttons a:first-child{
    width: 15%;
    flex-direction: row;
    display: flex;
}
.buttons a:first-child p {
    margin-left: 10px;
}
.buttons a:last-child{
    width: 25%;;
}
.buttons a:last-child p {
    margin-left: 10px;
}
.buttons a:hover {
    background: khaki;
}
main {
    gap: 40px;
}
.cardRegisterEvent {
    display: flex;
    width: 90%;
    background: greenyellow;
    margin: 20px 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 20px;
}
.mainContent {
    width: 90%;
    margin: 50px 90px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainContent h1 {
    font-size: 3rem;
}
.mainContent p {
    font-size: 2rem;
}
.cardRegisterEvent a {
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
}
.cardRegisterEvent a:hover {
    background: chocolate;
    color: azure;
}
.card-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.card {
    width: 40%;
    background: salmon;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.card-content {
    display: flex;
    padding: 20px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.card-image {
    background: slateblue;
    width: 40px;
    height: 40px;
}
.card h3 {
    font-size: 2.5rem;
}
.card p {
    font-size: 1.6rem;
}